<footer class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center text-white ">
                <p>WolfCamp &copy; 2021</p>
            </div>
        </div>
    </div>
</footer>