<% layout('layouts/boilerplate') %>
    
    <h1>All farms!</h1>
    <ul>
        <% for(let farm of farms) { %>
            <li>
                <a href="/farms/<%= farm.id %>">
                    <%= farm.name %>
                </a>
            </li>
        <% } %>
    </ul>

    
    
