<% layout('layouts/boilerplate') %>
<h1>Add A Farm</h1>
<form action="/farms" method="POST">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="name" value="Test Farm" />
  </p>
  <p>
    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder="city" value="Test Farm" />
  </p>
  <p>
    <label for="email">email</label>
    <input type="text" name="email" id="email" placeholder="email" value="Test Farm" />
  </p>
  <br />
  <input type="submit" value="Create" />
</form>

<a href="/products"> cancel</a>
