<% layout('layouts/boilerplate') %>
    <h1><%= temp ?? 'all' %> products!</h1>
    <ul>
      <% for(let product of products) { %>
      <li>
        <a href="/products/<%= product.id %>"> <%= product.name %> </a>
      </li>
      <% } %>
    </ul>

    <%if(!temp) { %>
    <a href="/products/new">Add a new product</a>
    <% } %> <%if(temp) { %>
    <a href="/products">All product</a>
    <% } %>

