<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products!</title>
</head>
<body>
    <h1> <%= temp1 %> products!</h1>
    <ul>
        <% for(let product of products) { %>
            <li>
                <a href="/products/<%= product.id %>">
                    <%= product.name %>
                </a>
            </li>
        <% } %>
    </ul>
    <a href="/products/new">Add a new product</a>
</body>
</html>