<% layout('layouts/boilerplate') %>
    <h1><%= query?.category ?? 'all' %> products!</h1>
    <ul>
      <% for(let product of products) { %>
      <li>
        <a href="/products/<%= product.id %>"> <%= product.name %> </a>
      </li>
      <br />
      <% } %>
    </ul>

    <%if(!query?.category) { %>
    <a href="/newWolf/1234">Add a new product</a>
    <% } %> <%if(query?.category) { %>
    <a href="/products">All product</a>
    <% } %>

